*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(to top, #011d3f, #010c18);
    overflow: hidden;
    animation: body 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes body {
    0%{
        background: linear-gradient(to top, #011d3f, #010c18);
    }

    20%{
        background: linear-gradient(to top, #033169, #042549);
    }

    40%{
        background: linear-gradient(to top, #054491, #094585);
    }

    100%{
        background: linear-gradient(to top, #6ea8f0, #307ac9);
    }
}

.oy{
    width: 200px;
    height: 200px;
    background: url(img/oy.png) center no-repeat;
    background-size: 300px;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-80%, -10%) scale(0.5);
    animation: oy 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes oy {
    0%{
        transform: translate(-80%, -10%) scale(0.5);
        background: url(img/oy.png) center no-repeat;
        background-size: 300px;
    }

    50%{
        transform: translate(500px, -10%) scale(0.5);
        background: url(img/oy.png) center no-repeat;
        background-size: 300px;
    }

    51%{
        transform: translate(500px, -10%) scale(1);
        background: url(img/quyosh.png) center no-repeat;
        background-size: 200px;
    }

    100%{
        transform: translate(-80%, -10%) scale(1);
        background: url(img/quyosh.png) center no-repeat;
        background-size: 200px;
    }
}

.container .bulut span{
    width: 200px;
    height: 100px;
    position: absolute;
    background: url(img/bulutTun.png);
    background-size: 170px 100px;
    background-repeat: no-repeat;
    animation: bulut 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes bulut {
    0%{
        background: url(img/bulutTun.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }

    100%{
        background: url(img/bulut.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }
}

.container .bulut span:nth-child(1){
    transform: translateX(600px) translateY(200px);
    animation: bulutBir 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes bulutBir {
    0%{
        transform: translateX(600px) translateY(200px);
        background: url(img/bulutTun.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }

    100%{
        transform: translateX(660px) translateY(200px);
        background: url(img/bulut.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }
}

.container .bulut span:nth-child(2){
    transform: translateX(900px) translateY(-40px);
    animation: bulutIkki 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes bulutIkki {
    0%{
        transform: translateX(900px) translateY(-40px);
        background: url(img/bulutTun.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }

    100%{
        transform: translateX(840px) translateY(-40px);
        background: url(img/bulut.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }
}

.container .bulut span:nth-child(3){
    background-size: 120px 60px;
    background-repeat: no-repeat;
    transform: translateX(1200px) translateY(50px);
    animation: bulutUch 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes bulutUch {
    0%{
        transform: translateX(1200px) translateY(50px);
        background: url(img/bulutTun.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }

    100%{
        transform: translateX(1100px) translateY(50px);
        background: url(img/bulut.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }
}

.container .bulut span:nth-child(4){
    background-size: 120px 60px;
    background-repeat: no-repeat;
    transform: translateX(-100px) translateY(200px);
    animation: buluttor 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes buluttor {
    0%{
        transform: translateX(-100px) translateY(200px);
        background: url(img/bulutTun.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }

    100%{
        transform: translateX(50px) translateY(200px);
        background: url(img/bulut.png);
        background-size: 170px 100px;
        background-repeat: no-repeat;
    }
}

.container .bulut span:nth-child(5){
    transform: translateX(1400px) translateY(200px);
}

.container .bulut span:nth-child(6){
    background-size: 140px 80px;
    background-repeat: no-repeat;
    transform: translateX(200px) translateY(60px);
}

img{
    width: 100%;
    height: 110%;
    filter: brightness(0.2);
    position: absolute;
    bottom: 0;
    z-index: -1;
    animation: shahar 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes shahar {
    0%{
        filter: brightness(0.2);
    }

    100%{
        filter: brightness(1);
    }
}

.qizil{
    width: 10%;
    height: 10%;
    position: absolute;
    transform: translateX(1600px) translateY(-40px);
    animation: qizil 7s linear infinite;
}

@keyframes qizil {
    0%{
        transform: translateX(1600px) translateY(-40px);
        filter: brightness(0.2);
    }

    100%{
        transform: translateX(-1600px) translateY(-40px);
        filter: brightness(1);
    }
}

.kulrang{
    width: 10%;
    height: 10%;
    position: absolute;
    transform: translateX(1600px) translateY(-40px);
    animation: kulrang 13s linear infinite;
}

@keyframes kulrang {
    0%{
        transform: translateX(-1600px) translateY(-10px);
        filter: brightness(0.2);
    }

    100%{
        transform: translateX(1600px) translateY(-10px);
        filter: brightness(1);
    }
}

.oynaBir{
    width: 40px;
    height: 24px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.753),
                0px 0px 30px rgba(255, 255, 255, 0.753),
                0px 0px 50px rgba(255, 255, 255, 0.753);
    position: absolute;
    top: 415px;
    left: 395px;
    animation: oynaBir 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes oynaBir {
    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

.oynaIkki{
    width: 40px;
    height: 24px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.753),
                0px 0px 30px rgba(255, 255, 255, 0.753),
                0px 0px 40px rgba(255, 255, 255, 0.753),
                0px 0px 50px rgba(255, 255, 255, 0.753);
    position: absolute;
    top: 565px;
    left: 395px;
    animation: oynaIkki 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes oynaIkki {
    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

.oynaUch{
    width: 14px;
    height: 24px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.753),
                0px 0px 30px rgba(255, 255, 255, 0.753),
                0px 0px 40px rgba(255, 255, 255, 0.753),
                0px 0px 50px rgba(255, 255, 255, 0.753);
    position: absolute;
    top: 580px;
    left: 209px;
    animation: oynaUch 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes oynaUch {
    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

.oynaTor{
    width: 105px;
    height: 13px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.753),
                0px 0px 30px rgba(255, 255, 255, 0.753),
                0px 0px 50px rgba(255, 255, 255, 0.753);
    position: absolute;
    top: 377px;
    left: 650px;
    animation: oynaTor 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes oynaTor {
    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

.oynaBesh{
    width: 14px;
    height: 26px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.753),
                0px 0px 30px rgba(255, 255, 255, 0.753),
                0px 0px 40px rgba(255, 255, 255, 0.753);
    position: absolute;
    top: 594px;
    left: 1052px;
    animation: oynaBesh 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes oynaBesh {
    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

.oynaOlti{
    width: 31px;
    height: 26px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.753),
                0px 0px 30px rgba(255, 255, 255, 0.753),
                0px 0px 40px rgba(255, 255, 255, 0.753);
    position: absolute;
    top: 409px;
    left: 1176px;
    animation: oynaOlti 20s linear infinite alternate;
    animation-delay: 3s;
}

@keyframes oynaOlti {
    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}